<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.hexroute.observe.sentinel</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Application Support/Hexroute/observe-sentinel/bin/hexroute-sentinel</string>
		<string>--observe</string>
		<string>--config</string>
		<string>/Library/Application Support/Hexroute/observe-sentinel/config/sentinel-observe.json</string>
	</array>
	<key>WorkingDirectory</key>
	<string>/Library/Application Support/Hexroute/observe-sentinel/state</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Umask</key>
	<integer>63</integer>
	<key>StandardOutPath</key>
	<string>/Library/Logs/Hexroute/observe-sentinel/sentinel.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Logs/Hexroute/observe-sentinel/sentinel.err.log</string>
	<key>SoftResourceLimits</key>
	<dict>
		<key>NumberOfFiles</key>
		<integer>64</integer>
	</dict>
</dict>
</plist>
